.anyError {
  display: flex;
  justify-content: flex-end;
  color: red;
  font-weight: 600;
}
.modal-header{
    padding:5px 15px;
    background-color: #333;
}
.modal-title{
    font-size:18px;
    color: #fff ; 
}
.syncBtn{
    color:white;
    background-color: blue;
    transition: var(--smooth);
    border-radius: 9999px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    border: 0px;
    height: 12%;
  }
  
  
  .syncBtn:hover{
    background-color: rgb(53, 53, 157);
    transition: var(--smooth);
  }